.venv/*
.env
Model-API/model-weight/*
Model-API/app/__pycache__/*
Model-API/app/utils/__pycache__/*
Model-API/app/model/__pycache__/*
Model-API/app/utils/vncorenlp/*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

yt-sent/node_modules
yt-sent/dist
yt-sent/dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
