tqdm==4.66.1
regex==2.5.129
emoji==2.8.0
numpy==1.23.5
json==2.0.9
pandas==1.5.3
matplotlib==3.7.1
seaborn==0.12.2
plotly==5.16.1
scikit-learn==1.2.2
torch==2.0.1
transformers==4.32.1
underthesea==6.7.0
google-api-python-client==2.97.0
flask==2.3.3