<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vietnamese YouTube Comments Sentiment</title>
    <!-- Add links to Bootstrap and Plotly libraries -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<div class="container-fluid">
    <div class="row">
        <!-- Left Side - Table -->
        <div class="col-md-8">
            <h2>Table</h2>
            {{ dataframe|safe }}
        </div>
        <!-- Right Side - Plotly Chart -->
        <div class="col-md-4">
            <h2>Chart</h2>
            {{ chart|safe }}
        </div>
    </div>
</div>

<!-- Add Bootstrap and other necessary JavaScript libraries here -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>