<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vietnamese YouTube Comments Sentiment</title>
    <link rel="shortcut icon" type="image/x-icon" href="../static/icon.svg">
    <link rel="stylesheet" href="../static/analyze.css">
    <!-- Add links to Bootstrap and Plotly libraries -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- Add Bootstrap and other necessary JavaScript libraries here -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <section class="intro">
        <div class="bg-image h-100" style="background-color: #f5f7fa;">
            <div class="mask d-flex align-items-center h-100">
                <div class="container-fluid h-100" style="padding: 20px 250px;">
                    <div class="row justify-content-center">
                        <div class="col-6" style="height: 320px">
                            <div class="text-left">
                                <img src="../static/icon.svg" style="height: 100px">
                            </div>
                            <h1 style="color: #ff0000; margin-bottom: 30px;">EMOTIONAL ANALYSIS RESULT</h1>
                            <h2>Total comments (no reply): {{ total_comments}}</h2>
                        </div>
                        <!-- Plotly Chart -->
                        {{ chart|safe }}
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body p-0">
                                        <!-- Table -->
                                        <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true"
                                            style="position: relative; height: 60vh">
                                            {{ dataframe|safe }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>